<!DOCTYPE html>
<html>
<head>
    <script src="jquery-3.4.1.min.js"></script>
    <meta charset="utf-8"/>
    <title>Dashboard</title>
    <style>
        .activities{
            display:block;
            margin-bottom: 8px;
            border-style: double;
            border-color: black;
            padding: 4px;
            padding-left: 10px;
        }
    </style>
</head>
<body>
<h1>Neue Aktivität hochladen</h1>
<form  enctype="multipart/form-data" action="uploadHandler" method="post">
    <label>Art der Aktivität:</label><br>
    <select name="activity" size="2" required="required">
        <option>Laufen</option>
        <option>Radfahren</option>
    </select><br><br>
    <label>Kommentare</label><br>
    <textarea name="kommentare" rows="10" cols="50"></textarea><br><br>
    <label>GPX_Datei zum hochladen auswählen:</label><br>
    <input name="datei" type="file" size="50" accept="" required="required"><br><br>
    <button>Hochladen</button>
</form>
<h1>Ihre Aktivitäten</h1>

<script>
    function remove(){
        var actID = $(event.target).parent().parent().parent()[0].childNodes[6].childNodes[5].childNodes[1].textContent;
        $(event.target).parent().parent().parent().parent().parent().remove();
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "POST", "/removeActivity");
        xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
        xmlHttp.send("actID="+actID);
        xmlHttp.responseType = 'blob';
    }
    function edit(){
        var actIDField = $(event.target).parent().parent().parent()[0].childNodes[6].childNodes[5].childNodes[1];
        var actArtField = $(event.target).parent().parent().parent().parent().parent()[0].firstElementChild.firstElementChild;
        var commentField = $(event.target).parent().parent().parent()[0].firstElementChild.firstElementChild.childNodes[1];
        var button = $(event.target);
        console.log($(event.target).parent().parent().parent()[0].childNodes[6].childNodes[5]);
        if (button[0].innerText=="speichern"){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "POST", "/editActivity");
            xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlHttp.send("actID="+actIDField.innerText +"&actArt="+actArtField.innerText+"&comment="+commentField.innerText);

            actArtField.setAttribute('contenteditable','false');
            commentField.setAttribute('contenteditable','false');
            $(actArtField).css('background-color','#FFFFFF');
            $(commentField).css('background-color','#FFFFFF');

            button[0].innerText = "edit";

        }else{
            //make editable
            actArtField.setAttribute('contenteditable','true');
            commentField.setAttribute('contenteditable','true');
            $(actArtField).css('background-color','#FF0000');
            $(commentField).css('background-color','#FF0000');
            button[0].innerText = "speichern";
        }
    }
    function download(){
        var actID = $(event.target).parent().parent().parent()[0].childNodes[6].childNodes[5].childNodes[1].textContent;;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "POST", "/downloadActivity");
        xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
        xmlHttp.responseType = 'blob';
        xmlHttp.onload = function () {
            var blob = this.response;
            //var contentDispo = this.getResponseHeader('Content-Disposition');
            //var fileName = contentDispo.match(/filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/)[1];
            saveBlob(blob, "File.gpx");
        }
        xmlHttp.send("actID="+actID);
    }
    function saveBlob(blob, fileName) {
        var a = document.createElement('a');
        a.href = window.URL.createObjectURL(blob);
        a.download = fileName;
        a.dispatchEvent(new MouseEvent('click'));
    }
</script>
<form action="searchCommentHandler" method="post">
    <label>Suche eingeben:
    </label>
    <input name="searchField" type="text">
    <button name="Suche">Suchen</button>
</form>
<div style="padding-top: 20px">
    {{range .Activities}}
    <div class="activities">
        <h3> <span>{{.Activityart}} </span> am {{.Highspeedtime}}</h3>
        <table style="border-spacing:10px;">
            <caption></caption>
            <tr>
                <td><b>Kommentar:</b><span>{{.Comment}}</span></td>
            </tr>
            <tr>
                <td><b>Standzeit:</b> {{.Standzeit}}</td>
                <td>Schnellste Durchschnittsgeschwindigkeit von {{.AvgSpeedFastMS}} M/s am Kilometer {{.AvgSpeedFastKM}}</td>
            </tr>
            <tr>
                <td><b>Durschnittsgeschwindigkeit:</b> {{.Avgspeed}} M/s</td>
                <td><b>Höchstgeschwindigkeit:</b> {{.HighSpeed}} M/s</td>
                <td>Langsamste Durchschnittsgeschwindigkeit von {{.AvgSpeedSlowMS}} M/s am Kilometer {{.AvgSpeedSlowKM}}</td>

            </tr>
            <tr>
                <td><b>Datum:</b></td>
                <td><b>erreicht am Zeitpunkt:</b> {{.Highspeedtime}}</td>
                <td>ID: <span>{{.ActID}}</span></td>
            </tr>
            <tr>
                <td><button onclick="edit()">Edit</button><button onclick="remove()">Delete</button><button onclick="download()">Download</button></td>
            </tr>
        </table>

    </div>
    {{end}}
</div>
<!---
<table>
  <tr>
    <th>ActivityID</th>
    <th>Art der Aktivität</th>
    <th>Kommentar</th>
    <th>Gesamtdistanz</th>
    <th>Standzeit</th>
	<th>Maximalgeschwindigkeit</th>
	<th>Maximalgeschwindigkeit am Zeitpunkt</th>
    <th>Durchschnittsgeschwindigkeit</th>
    <th>schnellster KM</th>
    <th>Durchschnittsgeschwindigkeit schnellster Kilometer</th>
    <th>langsamster KM</th>
    <th>Durchschnittsgeschwindigkeit langsamster Kilometer</th>

  </tr>
    {{range .Activities}}
    <tr>
        <td>{{.ActID}}</td>
        <td>{{.Activityart}}</td>
        <td>{{.Comment}}</td>
        <td>{{.Distance}} km</td>
        <td>{{.Standzeit}} s</td>
        <td>{{.HighSpeed}} M/s</td>
        <td>{{.Highspeedtime}}</td>
        <td>{{.Avgspeed}} M/s</td>
        <td>{{.AvgSpeedFastKM}}</td>
        <td>{{.AvgSpeedFastMS}} M/s</td>
        <td>{{.AvgSpeedSlowKM}}</td>
        <td>{{.AvgSpeedSlowMS}} M/s</td>
        <td><button onclick="edit()">Edit</button><button onclick="remove()">Delete</button><button onclick="download()">download</button></td>
    </tr>
    {{end}}
   <tr>
</table>
--->
</body>
</html>